
 .message {
    padding:10px 30px;

  }
 h3{
    font-size:12px;
    font-weight:normal;
    color:black;
        margin-bottom: 5px;
    margin-left: 2px;
    text-align: right;
  }
  .message-box{
    padding:5px;
    color:#fff;
    /* line-height:25px; */
    max-width:90%;
    display:inline-block;
    text-align:left;
    border-radius:5px;
  }
  .me{
    text-align:right;
  }
  .you .message-box{
    background-color:#58b666;
  }
  .me .message-box{
    background-color:#6fbced;
  }