<div class="sign-up-container">
    <form class="sign-up-form" (ngSubmit)="signUp()" #ngSignUpForm="ngForm">
        <div id="sign-in-route">
            <a routerLink="">Sign In</a>
            </div>
        <h2>Sign Up</h2>
      <div class="form-group">
        <input
          [ngClass]="{ 'inp-err' : userName.invalid && (userName.dirty || userName.touched) }"
          type="text"
          id="userName"
          name="userName"
          [(ngModel)]="user.userName"
          placeholder="username"
          required
          #userName="ngModel"
        />
        <div>
          <span class="error" *ngIf="userName.invalid && (userName.dirty || userName.touched)">Username is required.</span>
        </div>
      </div>
      <div class="form-group">
        <input
          [ngClass]="{ 'inp-err' : email.invalid && (email.dirty || email.touched) }"
          type="text"
          id="email"
          name="email"
          [(ngModel)]="user.email"
          placeholder="email"
          #email="ngModel"
          required
          email
        />
        <div>
          <span class="error" *ngIf="(email.dirty || email.touched) && email.invalid && email.value.length === 0">Email is required.</span>
          <span class="error" *ngIf="(email.dirty || email.touched) && email.invalid && email.value.length > 0">Invalid email.</span>
        </div>
      </div>
  
      <div class="form-group">
        <input
          [ngClass]="{ 'inp-err' : password.invalid && (password.dirty || password.touched) }"
          type="password"
          id="password"
          name="password"
          [(ngModel)]="user.password"
          placeholder="password"
          required
          #password="ngModel"
        />
        <div>
          <span class="error" *ngIf="(password.dirty || password.touched) && password.invalid">Password is required.</span>
          <span class="error" *ngIf="(password.dirty || password.touched) && password.valid && password.value.length < 8">Password required at least 8 characters.</span>
        </div>
      </div>
  
      <button type="submit" [disabled]="ngSignUpForm.invalid">Sign Up</button>
    </form>
  </div>