body{
  background-color:#abd9e9;
  font-family:Arial;
}
#container{
  display: flex;
  width:100%;
  height:900px;
  background:#eff3f7;
  border-radius:5px;
  overflow:hidden;
}
.app-mem {
    width: 15%;
}
.messages {
    width: 70%;
}
.add-member {
    width: 15%;
}