<div class="container">
    <!-- <app-members class="app-mem" (activateContact)="onContactActivated($event)"></app-members> -->
    <app-chats class="app-mem" (activateChat)="onChatActivated($event)"></app-chats>
    <div class="app-center">
        <app-header 
            class="chat-header" 
            [activatedChat]="activeChat" 
         >
        </app-header>
        <app-messages 
            [activatedChat]="activeChat"    
            class="messages"
        ></app-messages>
    </div>
    <div class="right-side">
        <app-add-contact class="add-contact"></app-add-contact>
        <app-options class="opt"></app-options>
    </div>
</div>
