main{
  background-color: #bbb;
    width:100%;
    height:100%;
    display:inline-block;
    font-size:15px;
    vertical-align:top;
  }
  .status{
    width:8px;
    height:8px;
    border-radius:50%;
    display:inline-block;
    margin-right:7px;
  }
  .green{
    background-color:#58b666;
  }
  .orange{
    background-color:#ff725d;
  }
  .blue{
    background-color:#6fbced;
    margin-right:0;
    margin-left:7px;
  }
  
  .chat{
      padding-left:0;
      margin:0;
      list-style-type:none;
      overflow-y:scroll;
      height:85%;
      border-top:2px solid #fff;
      border-bottom:2px solid #fff;
    }

  main footer{
    height:15%;
    width: 100%;
  }
