.sign-in-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .sign-in-form {
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: grey;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
  }
  
  input {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
  }

  .inp-err {
    border: 3px solid red;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .error {
    color: red;
    font-size: 16px;
    margin-top: 5px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
  }
  /* Add media query to make the form responsive on smaller screens */
  @media (max-width: 480px) {
    .sign-in-form {
      width: 100%;
    }
  }