<div class="sign-in-container">
    <form class="sign-in-form" (ngSubmit)="login()" #ngSignForm="ngForm">
      <div id="sign-up-route">
        <a routerLink="chat">
        Chat
        </a>
      </div>
      <div id="sign-up-route">
        <a routerLink="signup">
        Sign Up
        </a>
      </div>
      <h2>Sign In</h2>
      <div class="form-group">
        <input
          [ngClass]="{ 'inp-err' : userName.invalid && (userName.dirty || userName.touched) }"
          type="text"
          id="userName"
          name="userName"
          [(ngModel)]="user.userName"
          placeholder="username"
          required
          #userName="ngModel"
        />
        <div>
          <span class="error" *ngIf="userName.invalid && (userName.dirty || userName.touched)">Username is required.</span>
          <span class="error" *ngIf="error.length > 0">{{ error }}</span>
        </div>
      </div>
  
      <div class="form-group">
        <input
          [ngClass]="{ 'inp-err' : password.invalid && (password.dirty || password.touched) }"
          type="password"
          id="password"
          name="password"
          [(ngModel)]="user.password"
          placeholder="password"
          required
          #password="ngModel"
        />
        <div>
          <span class="error" *ngIf="password.invalid && (password.dirty || password.touched)">Password is required.</span>
        </div>
      </div>
  
      <button type="submit" [disabled]="ngSignForm.invalid">Sign In</button>
    </form>
  </div>