
  <div class="add-contact-container">
    <h2>Add Contact</h2>
    <form #contactForm="ngForm" (ngSubmit)="onAddContact($event)">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" [(ngModel)]="contact.name" required />
      </div>
      <div class="form-group">
        <label for="imageUrl">Image</label>
        <input type="text" id="imageUrl" name="imageUrl" [(ngModel)]="contact.imageUrl" />
      </div>
      <button type="submit">Add Contact</button>
    </form>
  </div>